**__pycache__**
runs
weights
data/coco
data/coco128
data/kitti
data/seumm_hq_lwir
data/seumm_lwir
data/seumm_hq_visible
data/seumm_visible
data/auair
*.pt

*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

